node_modules/
dist/
.angular/
.pnpm-store/

coverage/

.env
.env.*
!.env.example

*.log
.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.tsbuildinfo